.dashboard {
  padding: 60px 0;
}

.dashboard-container {
  border: 1px solid rgb(229, 231, 235);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.dashboard-menu {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 50px;
  border-bottom: 1px solid rgb(229, 231, 235);
}

.dashboard-menu li a {
  font-size: 16px;
  color: #8d8d94;
  margin: 0 10px;
}

.dashboard-menu li a:active,
.dashboard-menu li a:hover,
.dashboard-menu li .active {
  color: #000;
}

.dashboard-menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dashboard-menu ul li {
  display: flex;
}

.dashboard-content {
  padding: 32px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.dashboard-content h2 {
  font-family: "Nunito", sans-serif;
  font-size: 30px;
}

.dashboard-sections {
  margin: 16px 0;
  border-radius: 0.5rem;
  width: fit-content;
  padding: 4px;
  background-color: #f4f4f5;
}

.dashboard-sections button {
  font-family: "Nunito", sans-serif;
  border: none;
  border-radius: calc(0.5rem - 2px);
  padding: 4px 12px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer;
}

.dashboard-stat-cards {
  display: flex;
  gap: 16px;
}

.dashboard-stat-card {
  padding: 24px;
  width: 33.3%;
  border: 1px solid rgb(229, 231, 235);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  border-radius: calc(0.5rem - 2px);
}

.card-content-top {
  display: flex;
  padding-bottom: 8px;
  justify-content: space-between;
  align-items: center;
}

.card-content-top h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}

.card-icon {
  width: 20px;
  height: 20px;
  color: #797981;
}

.card-content-value {
  position: relative;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.card-content-value::before {
  content: "";
  display: block;
  width: 40%;
  height: 1px;
  background: rgb(229, 231, 235);
  left: 0;
  top: 50%;
  position: absolute;
}

.card-content-value::after {
  content: "";
  display: block;
  width: 40%;
  height: 1px;
  background: rgb(229, 231, 235);
  right: 0;
  top: 50%;
  position: absolute;
}

.dashboard-overview {
  margin-top: 16px;
}

.dashboard-chart {
  padding: 24px;
  border: 1px solid rgb(229, 231, 235);
  border-radius: calc(0.5rem - 2px);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

.dashboard-post-img-container {
  width: 100px;
  height: 100px;
}

.dashboard-post-img-container img {
  max-width: 100%;
  max-height: 100%;
  border-radius: calc(0.5rem - 4px);
}

.dashboard-recent-posts {
  font-family: "Nunito", sans-serif;
  padding: 32px 0 0 0;
}

.dashboard-recent-posts h3 {
  font-size: 24px;
}

.dashboard-recent-posts p {
  color: #8d8d94;
  margin-bottom: 16px;
}

table {
  width: 100%;
  border: 1px solid rgb(229, 231, 235);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  border-radius: calc(0.5rem - 2px);
}

thead {
  text-align: left;
}

thead tr {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  height: 2.5rem;
}

tbody tr {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}

table thead th {
  padding: 0.5rem;
  color: #8d8d94;
}

table thead th:nth-child(1) {
  padding-right: 4rem;
}

table tbody td {
  padding: 0.5rem;
  border-top: 1px solid rgb(229, 231, 235);
}

.dashboard-category {
  width: fit-content;
  padding: 2px 10px;
  border: 1px solid rgb(229, 231, 235);
  border-radius: calc(0.5rem - 2px);
}

.pending {
  padding: 2px 10px;
  font-weight: 500;
  background-color: #fff8dd;
  border-radius: calc(0.5rem - 2px);
  color: #f2cb0e;
  width: fit-content;
}

.btn-accept,
.btn-decline,
.btn-review {
  padding: 5px 15px;
  font-weight: 600;
  margin-right: 5px;
  border: none;
  background-color: transparent;
  border: 1px solid #56cf8e;
  border-radius: calc(0.5rem - 2px);
  color: #56cf8e;
  cursor: pointer;
}

.btn-decline {
  border-color: #f1416c;
  color: #f1416c;
}

.btn-review {
  border-color: #000;
  color: #000;
}
